@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --white: #fff;

    --background: #f8f8f6;

    --fonts: #0c0c13;

    --primary: #2a93c5;

    --secondary: #f15533;

    --border-sm: 10px;
    --border-md: 20px;

    --border: 2px solid var(--white);
  }

  /* .dark {
  } */
}

@layer base {
  * {
    @apply border-white;
  }
  body {
    @apply bg-background text-fonts;
  }
}

