@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    
    --white: #fff;

    --background: #f8f8f6;

    --fonts: #0c0c13;

    --primary: #2a93c5;

    --secondary: #f15533;

    --border-sm: 10px;
    --border-md: 20px;

    --border: 2px solid var(--white);
  }

  /* .dark {
  } */
}

@layer base {
  * {
    @apply border-white;
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-fonts;
  }
}

h1 {
  @apply text-[40px] font-bold;
  font-family: var(--font-unbounded);
}

h2 {
  @apply text-[32px] font-bold;
  font-family: var(--font-unbounded);
}

h3 {
  @apply text-[20px] font-bold;
  font-family: var(--font-play);
}

p {
  @apply text-[16px];
  font-family: var(--font-roboto-slab);
}

ul li {
  list-style: none;
  background-image: url("/images/icons/list-dot.svg");
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: 0 0.3em;
  padding-left: 24px;
  line-height: 1.5em;
}

.shadow-inset {
  box-shadow: inset 0 2px 5px rgba(131, 131, 131, 0.5);
}

.lucide.x{
  width: 12px;
  height: 12px;
}
